@media screen and (max-width: 600px) {
  nav {
    /* width: 100%;
    border: none;
   
    background-color: #eee;
    background-color: transparent;
    backdrop-filter: blur(0);
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
    left: 0;
    z-index: 1; */
    height: 9vw;
  }
  /* .burger-back {
    z-index: 100;
    width: 93vw;
    border-bottom-left-radius: 1.5vw;
    border-bottom-right-radius: 1.5vw;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    position: fixed;
   
    top: 0;
    left: 3.5vw;
   
    background-color: #f5f5f5;
    backdrop-filter: blur(75px);
  } */
  .main-menu {
    /* opacity: 0; */
    margin-left: -5vw;
    width: 100%;
    height: 100vh;
    /* height: auto; */
    /* height: 2vw; */
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
    /* position: absolute; */
    overflow: hidden;
    /* position: relative; */
    transform: translateX(-100%);
    transition: transform ease 0.4s;
    background-color: #eee;
    z-index: 1;
    border-radius: 1.5vw;
  }
  .links {
    gap: 10px;
    flex-direction: column;
  }
  .main-menu a {
    font-size: 3rem;
    line-height: 3rem;
    /* position: relative; */
  }
  #burger {
    width: 7vw;
    height: 2vw;
    display: block;
    margin-top: 1vw;
    margin-left: 2vw;
    cursor: pointer;
    position: relative;
    background-color: #eee;
  }
  #burger::before,
  #burger::after {
    position: absolute;
    left: 0;
    content: "";
    width: 100%;
    height: 2px;
    background-color: #111;
    /* border-radius: 100%; */
    transition: transform ease 0.6s;
  }
  #burger::before {
    top: 0;
    box-shadow: 0 25px 0 #111;
  }
  #burger::after {
    top: 13px;
  }
  #burger.active::before {
    transform: rotate(45deg);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    top: 12px;
    transition: transform ease 0.6s, top ease 0.8s;
    /* height: auto; */
  }
  #burger.active::after {
    transform: rotate(-45deg);
    transition: transform ease 0.6s;
    /* height: auto; */
  }
  #burger.active + .main-menu {
    transform: translateX(0);
    transition: transform ease 0.4s;
    margin-left: 0vw;
    margin-top: 7vw;
  }
  .main-menu a::before {
    opacity: 1;
    content: "";
    position: absolute;
    right: 40px;
    width: 3rem;
    height: 3rem;
    background-image: url("https://img.icons8.com/ios/50/long-arrow-right--v2.png");
    background-size: contain;
    opacity: 0;
    height: auto;
  }
  .main-menu a:hover::before {
    opacity: 1;
    transform: translateX(15px);
    transition: opacity ease 0.4s, transform ease 0.9s;
  }
  .title-main {
    font-size: 14vw;
  }
  .text-main {
    font-size: 4.1vw;
  }
  .text-main-2 {
    font-size: 4.1vw;
  }
  /* .mini-links {
    flex-direction: column;
    align-items: flex-start;
    gap: 4vw;
    
  }
  .mini-links a {
    font-size: 4vw;
    text-align: center;
    border: 0.1vw solid #363636;
    border-radius: 3.1vw;
    width: 33.8vw;
    height: 8.6vw;
    color: #363636;
    text-decoration: none;
    transition: all ease 0.2s;
    margin-left: 1.5vw;
    padding-top: 0.5vw;
  } */

  .mini-links {
    gap: 2vw;
    display: flex !important;
    /* flex-wrap: wrap; */
    /* justify-content: space-between; */
    /* gap: 2vw; */
  }

  .mini-links a {
    width: 34vw !important;
    height: 8.6vw !important;
    display: ruby-text;
    align-items: flex-start;
    /* justify-content: center; */
    font-size: 4vw;
    text-decoration: none;
    color: #000;
    /* background: #fff; */
    border-radius: 4vw;
    box-sizing: border-box;
    padding: 2vw;
    padding-top: 2.5vw !important;
  }
  .mini-links a:hover {
    background-color: #9c9c9c;
    scale: 1.1;
    /* text-decoration: underline; */
    color: #f5f5f5;
    border: 0.1vw solid #9c9c9c;
    transition: all ease 0.4s;
  }
  .mini-links-first {
    gap: 2vw;
    flex-direction: column;
  }
  .mini-links-second {
    gap: 2vw;
    flex-direction: column;
  }

  /* Мобильная версия */

  /* Мобильная версия (1 слайд) */
  .swiper-slide {
    margin-top: 11vw;
    width: 100%;
    left: 10%;
    /* margin-left: 6vw; */
  }
  .swiper {
    padding: 0;
    height: 84.5vw !important;
  }
  h4 {
    font-size: 9vw;
  }
  .row-link-afisha {
    width: 29.5vw !important;
    height: 5.5vw !important;
    position: absolute;
    margin-top: 38vw !important;
    margin-left: 65vw !important;
    display: flex;
    align-items: center;
    gap: 5vw;
    padding: 0.78vw 0.06vw !important;
    border: 0.1vw solid #000000;
    border-radius: 3.1vw;
  }
  .row-link-afisha-text {
    font-size: 2.7vw;
  }
  .row-ticket {
    width: 3.1vw !important;
    margin-left: -1vw !important;
  }
  .swiper-slide img {
    height: 74.5vw !important;
    width: 52vw !important;
  }
  .slider-container {
    margin-left: 7vw !important;
    height: 89vw !important;
    width: 86.5vw;
  }
  .our-afisha {
    margin-top: 35.5vw !important;
    margin-left: 7vw !important;
  }
  .custom-prev-btn,
  .custom-next-btn {
    top: 53% !important;
  }
  .custom-prev-btn {
    margin-left: 1vw;
  }
  .run-stroke {
    height: 9.7vw !important;
  }
  .actions-all {
    padding-top: 6vw !important;
    padding-bottom: 6vw !important;
    flex-direction: column;
    height: auto !important;
  }
  .oneaction-text {
    margin-left: -0.5vw;
    width: 78vw !important;
    /* width: auto !important; */
    /* height: 40.6vw !important; */
    height: auto !important;
    font-size: 4.5vw !important;
    padding: 4.5vw !important;
    border-radius: 4.5vw !important;
  }
  .mk,
  .first-row {
    gap: 2vw !important;
  }
  .mk-text {
    padding: 2vw !important;
    font-size: 4.5vw !important;
    border-radius: 5vw !important;
    width: 41.3vw !important;
    height: 9.7vw !important;
    margin-left: 18vw !important;
  }
  .mk-text-1 {
    padding: 2vw !important;
    font-size: 4.5vw !important;
    border-radius: 5vw !important;
    width: 41.3vw !important;
    height: 9.7vw !important;
    margin-left: 18vw !important;
  }
  .photo-actions-1 {
    display: flex;
    flex-direction: column;
    gap: 2vw !important;
    margin-top: 2vw;
  }
  .photo-actions-2 {
    margin-top: 2vw;
    display: grid;
    gap: 2vw;
  }
  .car-text {
    padding-top: 2vw !important;
    /* align-items: center; */
    font-size: 4.5vw !important;
    border-radius: 5vw !important;
    width: 54vw !important;
    height: 9.7vw !important;
    margin-left: 13vw !important;
  }
  .drift-text {
    padding-top: 2vw !important;
    /* align-items: center; */
    font-size: 4.5vw !important;
    border-radius: 5vw !important;
    width: 23vw !important;
    height: 9.7vw !important;
    margin-left: 28vw !important;
  }
  .drift-photo {
    margin-top: 2vw;
    display: grid;
    gap: 2vw;
  }
}

/* Для десктопного режима */
@media (min-width: 600px) {
  .swiper-slide {
    transition: transform 0.3s ease;
  }

  .swiper-slide-active {
    transform: scale(1.05); /* Небольшой акцент на активном слайде */
    z-index: 1;
  }
}
