* {
  box-sizing: border-box;
}
body {
  background-color: #ffffff;
  max-width: 95vw;
  /* overflow: hidden; */
}

h1 {
  font-size: 22vw;
  /* line-height: auto; */
  font-style: normal;
  color: #eeebeb;
}
h2 {
  font-size: 15.6vw;
  /* line-height: 46px; */
  font-style: normal;
  color: #eeebeb;
}
h3 {
  font-size: 10vw;
  /* line-height: 32px; */
  font-style: normal;
  color: #363636;
}
h4 {
  font-size: 10vw;
  /* line-height: auto; */
  font-style: normal;
  color: #9c9c9c;
}
a {
  font-size: 1.56vw;
  line-height: 1.5vw;
}
section {
  max-width: 100vw;
  margin: 4vw auto;
  /* overflow: hidden; */
}
section > h1 {
  padding-left: 4vw;
  margin: 2vw 0;
}
section > p {
  margin: 1vw 0;
}
/* навигация */
nav {
  z-index: 100;
  width: 93vw;
  border-bottom-left-radius: 1.5vw;
  border-bottom-right-radius: 1.5vw;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  position: fixed;
  /* justify-content: center; */
  top: 0;
  left: 3.5vw;
  /* background-color: rgba(245, 245, 245 0.8); */
  background-color: #f5f5f5;
  backdrop-filter: blur(75px);
}
.main-menu {
  max-width: 1280px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0 10px;
}
.links {
  display: flex;
  gap: 20px;
}
.main-menu a {
  color: #888;
  text-decoration: none;
  transition: all ease 0.2s;
}
.main-menu a:hover {
  color: #111;
  text-decoration: underline;
  transition: all ease 0.4s;
}
/* ffkfk */
p {
  font-size: 1.8vw;
  /* line-height: 32px; */
  font-style: normal;
  color: #363636;
}
